* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  font-family: "Rosario", sans-serif;
}

.wrapper {
  padding-top: 3.6em;
  padding-bottom: 7em;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-family: "Rosario";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 90px;
  color: #222222;
}

.description {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  color: #555555;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2.6em;
}
.navigation__items-item {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #222222;
  text-decoration: none;
  cursor: pointer;
  margin-right: 2.5em;
}
.navigation__items-item:hover {
  color: #09a66d;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}
.navigation__items-item:last-child {
  margin-right: none;
}
.navigation__logotyp-logo {
  max-width: 4.3em;
  width: 100%;
}
.navigation__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation__options-item {
  padding: 0.5em;
  background: #f3fbf8;
  border-radius: 20px;
  margin-right: 1.2em;
}
.navigation__options-item:first-child {
  content: url(img/search.svg);
  width: 2em;
  height: 2em;
}
.navigation__options-item:nth-child(2) {
  content: url(img/basket.svg);
  width: 2em;
  height: 2em;
  margin-right: 2em;
}
.navigation__options-item:nth-child(2)::before {
  content: url(/img/insta.svg);
  width: 2em;
  height: 2em;
  color: deeppink;
}
.navigation__options-item:last-child {
  margin-right: 0;
}
.navigation__button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  background: #09a66d;
  border-radius: 8px;
  text-decoration: none;
  padding: 0.6em 1.2em;
  z-index: 20;
  cursor: pointer;
}
.navigation__button:hover {
  color: #09a66d;
  background: #d7f7ef;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 5.8em;
  text-align: center;
  height: 100vh;
}
.main__wrapper {
  background: #f3fbf8;
  padding-bottom: 6em;
}
.main__leafes {
  position: relative;
  left: -20em;
  bottom: 9em;
  width: 100%;
  background-image: url(img/leafes1.png), url(img/leafes2.png), url(img/leafes3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: inherit;
  z-index: 1;
}
.main__content {
  position: absolute;
  left: 13;
  z-index: 1;
}
.main__title {
  margin-bottom: 1.2rem;
}
.main__description {
  position: relative;
  max-width: 39.8em;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2.5em;
  text-align: center;
  z-index: 4;
}
.main__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__option-description {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  color: #555555;
  font-weight: 500;
  color: #222222;
  margin-right: 1.3em;
}
.main__option-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  background: #09a66d;
  border-radius: 8px;
  text-decoration: none;
  padding: 0.6em 1.2em;
  z-index: 20;
  cursor: pointer;
  padding: 1em 0.5em;
  border-radius: 50px;
  width: 4em;
  height: 4em;
}
.main__option-button:hover {
  color: #09a66d;
  background: #d7f7ef;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}
.main__picture {
  max-width: 53em;
  max-height: 29em;
}
.main__counter {
  position: relative;
  top: 25em;
  right: 1em;
}
.main__counter-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.6em 2em;
  background: #ffffff;
  margin-bottom: 1.8em;
  max-width: 15.6em;
  width: 100%;
}
.main__counter-item:last-child {
  margin-bottom: 0;
}
.main__counter-item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #000000;
}
.main__counter-item-icon {
  padding: 0.7em;
  background-color: #f3fbf8;
  border-radius: 50%;
  margin-right: 1.5em;
}
.main__counter-item-description {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-image: url(img/bg-service.png);
  background-repeat: no-repeat;
  background-position: right -30%;
  padding-top: 8.7em;
  padding-bottom: 14.2em;
}
.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.services__title {
  margin-bottom: 1.2rem;
}
.services__description {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  color: #555555;
  width: 37em;
  margin-bottom: 3.5em;
}
.services__group-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 23.8em;
  width: 100%;
  margin-bottom: 4em;
}
.services__group-content-icon {
  padding: 1.2em;
  background-color: #f3fbf8;
  border-radius: 50%;
  width: 5em;
  height: 5em;
  margin-right: 1.5em;
}
.services__group-content-title {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #222222;
}
.services__group-content-description {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
}
.services__button {
  background: none;
  border: none;
  cursor: pointer;
}
.services__img {
  max-width: 31.8em;
  width: 100%;
}

.specials {
  background: rgba(9, 166, 109, 0.05);
  padding: 5.5em 0 5.5em 0;
}
.specials__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.specials__img1 {
  max-width: 37.5em;
  margin-right: 3.1em;
}
.specials__content {
  max-width: 37em;
  width: 100%;
}
.specials__title {
  margin-bottom: 1.2rem;
}
.specials__description {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  color: #555555;
  margin-bottom: 3.1em;
}
.specials__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.specials__btn-name {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  color: #555555;
  font-weight: 500;
  color: #222222;
  margin-right: 1.3em;
}
.specials__btn-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  background: #09a66d;
  border-radius: 8px;
  text-decoration: none;
  padding: 0.6em 1.2em;
  z-index: 20;
  cursor: pointer;
  padding: 1em 0.5em;
  border-radius: 50px;
  width: 4em;
  height: 4em;
}
.specials__btn-button:hover {
  color: #09a66d;
  background: #d7f7ef;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}
.specials__img2 {
  position: relative;
  bottom: 9em;
  left: 10em;
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 6em;
  padding-bottom: 9.3rem;
}
.reviews__content {
  max-width: 39.8em;
}
.reviews__title {
  margin-bottom: 1.8rem;
}
.reviews__description {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  color: #555555;
  margin-bottom: 2.5rem;
}
.reviews__name {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-bottom: 1.2rem;
}
.reviews__rate {
  max-width: 9.5em;
}
.reviews__pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.reviews__pictures-img {
  max-width: 31.2em;
  width: 100%;
}
.reviews__pictures-img-group {
  max-width: 13.7em;
  width: 100%;
}

.application {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 8.6em;
}
.application__img {
  margin-right: 7em;
}
.application__content {
  max-width: 39.1em;
}
.application__explanation {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #333333;
  background: #f3fbf8;
  border-radius: 50px;
  max-width: 10em;
  padding: 0.6em 1.6em;
}
.application__title {
  margin-bottom: 1.2rem;
}
.application__description {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  color: #555555;
  margin-bottom: 3.1rem;
}
.application__link:first-of-type {
  margin-right: 1.5em;
}
.application__link-img {
  max-width: 6.5em;
  width: 100%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer__content {
  max-width: 21.5em;
}
.footer__logotype-logo {
  max-width: 4.3em;
  width: 100%;
  margin-bottom: 1.8em;
}
.footer__description {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  color: #555555;
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__links-title {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #222222;
  margin-bottom: 2.5em;
}
.footer__links-item {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #222222;
  text-decoration: none;
  cursor: pointer;
  color: #555555;
  margin-bottom: 1.5em;
}
.footer__links-item:hover {
  color: #09a66d;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}
.footer__links-item:last-child {
  margin-bottom: 0;
}
.footer__links-socials-item {
  max-width: 1.5em;
  width: 100%;
  margin-right: 3em;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}