* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@mixin title {
    font-family: "Rosario";
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 90px;
    color: #222222;
}
@mixin links {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #222222;
    text-decoration: none;
    cursor: pointer;
}
@mixin description {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    color: #555555;
}
@mixin button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
    background: #09a66d;
    border-radius: 8px;
    text-decoration: none;
    padding: 0.6em 1.2em;
}
@mixin logo {
    max-width: 4.3em;
    width: 100%;
}
body {
    font-family: "DM Sans", sans-serif;
    font-family: "Rosario", sans-serif;
}
.wrapper {
}
.container {
    max-width: 1440px;
    width: 100%;
    margin-top: 3.6em;
    margin-left: auto;
    margin-right: auto;
}
.title {
    @include title;
}

.description {
    @include description;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 77.5em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2.6em;

    &__items {
    }

    &__items-item {
        @include links;
        margin-right: 2.5em;
        &:last-child {
            margin-right: none;
        }
    }

    &__logotyp-logo {
        @include logo;
    }

    &__options {
        display: flex;
        align-items: center;
    }

    &__options-item {
        padding: 0.5em;
        background: #f3fbf8;
        border-radius: 20px;
        margin-right: 1.2em;
        &:first-child {
            content: url(img/search.svg);
            width: 2em;
            height: 2em;
        }
        &:nth-child(2) {
            content: url(img/basket.svg);
            width: 2em;
            height: 2em;
            margin-right: 2em;
        }
        &:last-child {
            margin-right: 0;
        }
    }

    &__button {
        @include button;
    }
}
.main {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5.8em;
    text-align: center;
    height: 100vh;

    &__wrapper {
        background: #f3fbf8;
        padding-bottom: 6em;
    }
    &__leafes {
        position: relative;
        left: -4em;
        bottom: 5em;
        display: flex;
        justify-content: left;
    }

    &__leaf {
        width: 10em;
    }
    &__content {
        position: relative;
        left: -10em;
    }

    &__title {
        margin-bottom: 1.2rem;
    }

    &__description {
        max-width: 39.8em;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 2.5em;
        text-align: center;
    }

    &__option {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__option-description {
        @include description;
        font-weight: 500;
        color: #222222;
        margin-right: 1.3em;
    }

    &__option-button {
        @include button;
        padding: 1em 0.5em;
        border-radius: 50px;
        width: 4em;
        height: 4em;
    }

    &__picture {
        max-width: 53em;
        max-height: 29em;
    }

    &__counter {
        position: relative;
        top: 25em;
    }

    &__counter-item {
        display: flex;
        align-items: center;
        padding: 0.6em 2em;
        background: #ffffff;
        margin-bottom: 1.8em;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__counter-item-title {
        display: flex;
        flex-wrap: nowrap;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        color: #000000;
    }
    
    &__counter-item-icon {
        padding: 0.7em;
        background-color: #f3fbf8;
        border-radius: 50%;
        margin-right: 1.5em;
    }

    &__counter-item-description {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #000000;
    }
}
.services {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    background-image: url(img/bg-service.png);
    background-repeat: no-repeat;
    background-position: right -30%;
    padding-top: 8.7em;
    padding-bottom: 14.2em;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        margin-bottom: 1.2rem;
    }

    &__description {
        @include description;
        width: 37em;
        margin-bottom: 3.5em;
    }

    &__group {
    }

    &__group-content {
        display: flex;
        max-width: 23.8em;
        width: 100%;
        margin-bottom: 4em;
    }

    &__group-content-icon {
        padding: 1.2em;
        background-color: #f3fbf8;
        border-radius: 50%;
        width: 5em;
        height: 5em;
        margin-right: 1.5em;
    }

    &__group-content-text {
    }

    &__group-content-title {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #222222;
    }

    &__group-content-description {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #555555;
    }

    &__button {
        background: none;
        border: none;
        cursor: pointer;
    }

    &__img {
        max-width: 31.8em;
        width: 100%;
    }
}

.specials {
    background: rgba(9, 166, 109, 0.05);
    padding: 5.5em 0 5.5em 0;
    &__items {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    &__img1 {
        max-width: 37.5em;
        margin-right: 3.1em;
    }

    &__content {
        max-width: 37em;
        width: 100%;
    }

    &__title {
        margin-bottom: 1.2rem;
    }

    &__description {
        @include description;

        margin-bottom: 3.1em;
    }

    &__btn {
        display: flex;
        align-items: center;
    }

    &__btn-name {
        @include description;
        font-weight: 500;
        color: #222222;
        margin-right: 1.3em;
    }

    &__btn-button {
        @include button;
        padding: 1em 1.5em;
        border-radius: 50px;
        width: 4em;
        height: 4em;
    }
    &__img2 {
        position: relative;
        bottom: 9em;
        left: 10em;
    }
}
.reviews {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 6em;
    padding-bottom: 9.3rem;

    &__content {
        max-width: 39.8em;
    }

    &__title {
        margin-bottom: 1.8rem;
    }

    &__description {
        @include description;

        margin-bottom: 2.5rem;
    }

    &__name {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 36px;
        color: #222222;
        margin-bottom: 1.2rem;
    }

    &__rate {
        max-width: 9.5em;
    }

    &__pictures {
        display: flex;
        flex-direction: column;
    }

    &__pictures-img {
        max-width: 31.2em;
        width: 100%;
    }

    &__pictures-img-group {
        max-width: 13.7em;
        width: 100%;
    }
}

.application {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 8.6em;
    &__img {
        margin-right: 7em;
    }

    &__content {
        max-width: 39.1em;
    }

    &__explanation {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        color: #333333;
        background: #f3fbf8;
        border-radius: 50px;
        max-width: 10em;
        padding: 0.6em 1.6em;
    }

    &__title {
        margin-bottom: 1.2rem;
    }

    &__description {
        @include description;

        margin-bottom: 3.1rem;
    }

    &__links {
    }

    &__link {
        &:first-of-type {
            margin-right: 1.5em;
        }
    }

    &__link-img {
        max-width: 6.5em;
        width: 100%;
    }
}
.footer {
    display: flex;
    justify-content: space-around;
    &__content {
        max-width: 21.5em;
    }

    &__logotype-logo {
        @include logo;
        margin-bottom: 1.8em;
    }

    &__description {
        @include description;
    }

    &__links {
        display: flex;
        flex-direction: column;
    }

    &__links-title {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
        color: #222222;
        margin-bottom: 2.5em;
    }

    &__links-item {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        color: #555555;
        text-decoration: none;
        margin-bottom: 1.5em;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__links-socials {
    }

    &__links-socials-item {
        max-width: 1.5em;
        width: 100%;
        margin-right: 3em;
    }
}
