* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@mixin title {
    font-family: "Rosario";
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 90px;
    color: #222222;
}
@mixin links {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #222222;
    text-decoration: none;
    cursor: pointer;
}
@mixin description {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #555555;
}
@mixin button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
    background: #09a66d;
    border-radius: 8px;
    text-decoration: none;
    padding: 0.6em 1.2em;
}
body {
    font-family: "DM Sans", sans-serif;
    font-family: "Rosario", sans-serif;
}
.wrapper {
}
.container {
    max-width: 1440px;
    width: 100%;
    margin-top: 3.6em;
    margin-left: auto;
    margin-right: auto;
}
.title {
    @include title;
}

.description {
    @include description;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 77.5em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2.6em;

    &__items {
    }

    &__items-item {
        @include links;
        margin-right: 2.5em;
        &:last-child {
            margin-right: none;
        }
    }

    // &__logotype {
    // }

    &__options {
        display: flex;
        align-items: center;
    }

    &__options-item {
        padding: 0.5em;
        background: #f3fbf8;
        border-radius: 20px;
        margin-right: 1.2em;
        &:first-child {
            content: url(img/search.svg);
            width: 2em;
            height: 2em;
        }
        &:nth-child(2) {
            content: url(img/basket.svg);
            width: 2em;
            height: 2em;
            margin-right: 2em;
        }
        &:last-child {
            margin-right: 0;
        }
    }

    &__button {
        @include button;
    }
}
.main {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5.8em;

    text-align: center;
    height: 100vh;

    &__wrapper {
        background: #f3fbf8;
        padding-bottom: 6em;
    }
    &__leafes {
        position: relative;
        left: -4em;
        bottom: 5em;
        display: flex;
        justify-content: left;
    }

    &__leaf {
        width: 10em;
    }
    &__content {
        position: relative;
        left: -10em;
    }

    &__title {
        margin-bottom: 1.2em;
    }

    &__description {
        max-width: 39.8em;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 2.5em;
    }

    &__option {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__option-description {
        margin-right: 1.3em;
    }

    &__option-button {
        @include button;
        padding: 1em 1.5em;
        border-radius: 50px;
        width: 4em;
        height: 4em;
    }

    &__picture {
        max-width: 53em;
        max-height: 29em;
    }

    &__counter {
    }

    &__counter-item {
    }

    &__counter-item-icon {
    }

    &__counter-item-content {
    }

    &__counter-item-title {
    }

    &__counter-item-description {
    }
}
.services {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    background-image: url(img/bg-service.png);
    background-repeat: no-repeat;
    background-position: right -30%;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        margin-bottom: 1.2em;
    }

    &__description {
        @include description;
        width: 37em;
        text-align: left;
        margin-bottom: 3.5em;
    }

    &__group {
    }

    &__group-content {
        display: flex;
        max-width: 23.8em;
        width: 100%;
        margin-bottom: 4em;
    }

    &__group-content-icon {
        padding: 1.2em;
        background-color: #f3fbf8;
        border-radius: 50%;
        width: 5em;
        height: 5em;
        margin-right: 1.5em;
    }

    &__group-content-text {
    }

    &__group-content-title {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #222222;
    }

    &__group-content-description {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #555555;
    }

    &__button {
        background: none;
        border: none;
        cursor: pointer;
    }

    &__img {
        max-width: 31.8em;
        width: 100%;
    }
}
